<div class="d-md-flex flex-md-equal pl-md-3 ">
  <div class="pt-3 px-3 text-center text-white overflow-hidden col-md-1" style="min-width: 200px;">
    <div class=" pt-3">

      <!-- Exchange-->
      <span class="d-flex justify-content-between align-items-center list-group-item d-flex bg-light ">
        <span class="text-muted">Exchange</span>
        <span class="badge badge-secondary badge-pill">{{exchanges.length}}</span>
      </span>
      <ul class="list-group">
        <li *ngFor="let exchange of exchanges" [ngClass]="(exchange == selectedExchange) ? 'list-group-item d-flex justify-content-between bg-dark' : 'list-group-item d-flex justify-content-between lh-condensed'">
          <div>
            <span class="my-0"><a class="d-md-inline-block" routerLink="/trade/{{exchange}}/{{selectedTickerCurrency1}}/{{selectedTickerCurrency2}}">{{exchange}}</a></span>
          </div>
          <span class="text-muted"></span>
        </li>
      </ul>


      <!-- Tickers -->
      <span class="mt-4 d-flex justify-content-between align-items-center list-group-item d-flex bg-light">
        <span class="text-muted">Ticker</span>
        <span class="badge badge-secondary badge-pill">{{tickersOfSelectedExchange.length}}</span>
      </span>
      <ul class="list-group">
        <li *ngFor="let ticker of tickersOfSelectedExchange" [ngClass]="(ticker.currency1 == selectedTickerCurrency1 && ticker.currency2 == selectedTickerCurrency2 ) ? 'list-group-item d-flex justify-content-between bg-dark' : 'list-group-item d-flex justify-content-between lh-condensed'">
          <div>
            <span class="my-0"><a class="d-md-inline-block" routerLink="/trade/{{selectedExchange}}/{{ticker.currency1}}/{{ticker.currency2}}">{{ticker.currency1}} {{ticker.currency2}}</a></span>
          </div>
          <span class="text-muted">6600</span>
        </li>
      </ul>
    </div>
  </div>


  <div class="mr-md-3 pt-3 px-3 text-center overflow-hidden col-md-11">
    <div class="p-3">


      <p-accordion class="mb-4">
        <p-accordionTab header="Chart" id="123"  [selected]="true">
          <div id="technical-analysis"></div>
        </p-accordionTab>
      </p-accordion>

      <!--Order book + Trade history ROW-->
      <div class="row mt-3">
        <div class="col">

          <!--Order book-->
          <div class="card mb-4 box-shadow">
            <div class="card-header py-1">
              <span class="my-0 font-weight-normal">Order book</span>
            </div>
            <div class="card-body p-1">
              <div class="row">
                <div class="col-sm-6">
                  Sell orders:
                  <table class="table table-striped">
                    <thead>
                    <tr *ngFor="let orderBookEntity of tickerInfo?.orderBook?.ask" style="color:red">
                      <th>{{orderBookEntity?.price}}</th>
                      <th>{{orderBookEntity?.amount.toLocaleString('ru')}}</th>
                    </tr>
                    </thead>
                  </table>
                </div>
                <div class="col-sm-6">
                  Buy orders:
                  <table class="table table-striped">
                    <thead>
                    <tr *ngFor="let orderBookEntity of tickerInfo?.orderBook?.bid" style="color:green">
                      <th>{{orderBookEntity?.price}}</th>
                      <th>{{orderBookEntity?.amount.toLocaleString('ru')}}</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Trade history-->
        <div class="col">
          <div class="card mb-4 box-shadow">
            <div class="card-header py-1">
              <span class="my-0 font-weight-normal">Recent Trades</span>
            </div>
            <div class="card-body p-1">
              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-striped " >
                    <thead>
                    <tr [ngClass]="(tradeHistory?.type == 'sell') ? 'background-red' : 'background-green'" *ngFor="let tradeHistory of tickerInfo?.tradeHistory">
                      <th>{{tradeHistory?.price}}</th>
                      <th>{{tradeHistory?.amount.toLocaleString('ru')}}</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
